{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
   <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
        </thead>
        <tbody>
            {% for row in database %}
                <tr>
                    <td class="text-start">{{ row["symbol"] }}</td>
                    <td class="text-end">{{ row["shares"] }}</td>
                    <td class="text-end">${{ '{:,.2f}'.format(row["price"]) }}</td>
                    <td class="text-end">${{ '{:,.2f}'.format(row["total"]) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
              <th class="text-end border-0 fw-bold" colspan="3">Cash</th>
              <td class="text-end border-0">${{ '{:,.2f}'.format(cash) }}</td>
            </tr>
            <tr>
                <td class="text-end border-0 fw-bold" colspan="3">TOTAL</th>
                <td class="text-end border-0">${{ '{:,.2f}'.format(grand_total) }}</td>
            </tr>
          </tfoot>
   </table>
{% endblock %}
